<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Monitering</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #0e606b;" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Child Care</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <form action="/" method="POST">

    <div class="form-group col-lg-6">
        <label for="name">Full name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter full name">

        <label for="roll">Roll number</label>
        <input type="number" class="form-control"name="roll" id="roll" placeholder="Enter student's roll">

        <label for="classs">Class</label>
        <input type="number" class="form-control" name="classs" id="classs" placeholder="Enter student's class">

        <label for="parentPhone">Phone number</label>
        <input type="number" class="form-control" name="parentPhone" id="parentPhone" placeholder="Enter parent's phone number">

        <label for="parentEmail">Email address</label>
        <input type="email" name="parentEmail"class="form-control" id="parentEmail" aria-describedby="emailHelp" placeholder="Enter parent's email">

        <button type="submit" class="btn btn-success">Submit</button>
    </div>
        
  </form>

    <div class="footer">
        <p>Made with love <3 Prakhar!</p>
    </div>
</body>
</html>
